<div class="playlist_find">
  <h1> Playlists Nearby </h1>
  <% if @current_users_around.empty? %>
    <p class="welcome">No users currently. Please try again later</p>
  <% end %>

  <% @current_users_around.each do |u| %></br>
    <% @playlist = u.playlists.last %>
      <% if @playlist %>
      <p class="username"><%= u.username %>'s playlist</p></br>

        <div class="songcard link">
          <img class="coverart" src="http://static7.depositphotos.com/1001655/707/v/950/depositphotos_7070089-Woman-with-music-notes.jpg" />
          <%= link_to "#{@playlist.title}", playlist_path(@playlist.id), :class => 'playlists-around' %></p>
        </div>
      <% end %>
  <% end %>
</div>
